@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Rubik+Mono+One&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: var(--default);
  font-size: 1.2rem;
}

:root {
  --black: #0d0d0d;
  --white: #f2f2f2;
  --dark-white: #eee;
  --light-grey: #d9d9d9;
  --grey: #bfbfbf;
  --dark-grey: #737373;
  --dark: #404040;

  --header: "Rubik Mono One", sans-serif;
  --default: "Inconsolata", monospace;

  --shadow: 10px 10px 10px -10px rgba(64, 64, 64, 0.5);
}

*:focus-visible {
  outline: 2px solid var(--dark-grey);
}

h1 {
  font-family: var(--default);
  font-size: 3rem;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 10rem 1fr 5rem;
  padding: 1rem 3rem;
  background-color: var(--white);
}

.logo {
  height: 10vh;
}

.profile {
  height: 5vh;
  border-radius: 50%;
}

main {
  min-height: 70vh;
  background-color: var(--light-grey);
  padding: 5vh 30vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-container {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 2rem;
}

.search {
  height: 3rem;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--dark-white);
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.search:hover {
  background-color: var(--white);
}

.options-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
}

.date-filter {
  padding: 0.5rem 1rem;
  width: fit-content;
  border: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  background-color: var(--white);
}

.date-filter:hover {
  background-color: var(--light-grey);
}

.active,
.active:hover {
  color: var(--white);
  background-color: var(--dark-grey);
}

.tasks {
  min-height: 40vh;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}

#inputPreview,
.add-item {
  display: grid;
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--dark-white);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  font-family: var(--default);
  font-size: 1rem;
}

#inputPreview {
  grid-template-columns: auto 1fr;
}

.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.css-checkbox + label {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 16px;
  color: rgb(0, 0, 0);
}
.css-checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 3px;
  box-shadow: none;
}
.css-checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjNzM3MzczIiBkPSJNMCA5NkMwIDYwLjY1IDI4LjY1IDMyIDY0IDMySDM4NEM0MTkuMyAzMiA0NDggNjAuNjUgNDQ4IDk2VjQxNkM0NDggNDUxLjMgNDE5LjMgNDgwIDM4NCA0ODBINjRDMjguNjUgNDgwIDAgNDUxLjMgMCA0MTZWOTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 1rem;
  height: 16px;
  width: 16px;
}

.add-item {
  grid-template-columns: 1em auto;
  gap: 1rem;
}

.add-item:hover {
  box-shadow: 0px 0px 10px 0.2px rgba(64, 64, 64, 0.5);
}

.add-task {
  background-color: var(--dark-white);
  border: none;
}

.add-task:focus-visible {
  outline: none;
  background-color: var(--dark-white);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--black);
  background-color: var(--light-grey);
}

.icon-container {
  border: 1px solid var(--black);
  border-radius: 30%;
  padding: 0.2rem 0.5rem;
}
